

/* Värikoodit */
.matematiikka { background: #ffe0cc; }
.ohjelmointi  { background: #cce0ff; }
.vapaa        { background: #d6f5d6; }
.kuntosali    { background: #707e70; color: white; }
```



